@import "tailwindcss";


@theme {
  /* colors */
  --color-background: #1C1C1C;
  --color-baseTextColor: #F0F0F0;
  --color-secondTextColor: #B0B0B0;
  --color-thirdTextColor: #F7F7F7;

  --color-card: #4A4A4A;
  --color-border: #828282;
  --color-line: #363636;

  --color-input: #F5F5F5;
  --color-inputText: #1C1C1C;

  --color-btn-dark: #424242;
  --color-btn-light: #C4C4C4;


  /* size */
  --text-base: 16px;
  --text-paragraph: 18px;
}

@utility interactive {
  @apply transition-all duration-200;
  @apply hover:cursor-pointer hover:text-background
}

@utility interactive-bg-light {
  @apply transition-all duration-200;
  @apply hover:cursor-pointer hover:text-background
}

@utility interactive-btn-to-light {
  @apply transition-all duration-200;
  @apply hover:cursor-pointer hover:text-btn-dark hover:bg-btn-light
}

@utility interactive-btn-to-dark {
  @apply transition-all duration-200;
  @apply hover:cursor-pointer hover:text-btn-light hover:bg-btn-dark
}

/*  */
/* swiper styles */
/*  */
.gallery-swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-swiper .swiper-slide {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.gallery-swiper .swiper-slide-active {
  opacity: 1;
}

.gallery-swiper .swiper-slide img {
  transition: all 0.5s ease;
}

.gallery-swiper .swiper-slide-active img {
  transform: translateY(-20px) scale(1.08);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}