@import "tailwindcss";


@theme {
  /* colors */
  --color-background: #1C1C1C;
  --color-baseTextColor: #F0F0F0;
  --color-secondTextColor: #B0B0B0;
  --color-thirdTextColor: #F7F7F7;

  --color-card: #4A4A4A;
  --color-border: #828282;
  --color-line: #363636;

  --color-input: #F5F5F5;
  --color-inputText: #1C1C1C;

  /* size */
  --text-base: 16px;
  --text-paragraph: 18px;
}

@utility interactive {
  @apply transition-all duration-200;
  @apply hover:cursor-pointer hover:text-background
}

